.header-section{
    padding: 80px 0px 0px 20px;
    width: 100%;
    height: 580px;
    background-image: url('/Image/Background-Images/bg-header.jpg');
}
.header-welcome{
    color: #E86F19;
    font-size: 20px;
    font-weight: 800;
}
.header-h1{
    color: white;
    font-size: 55px;
    padding-bottom: 50px;
    font-weight: 900;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: #E86F19;
}
.header-btn a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

@media (min-width:768px){
    .header-h1{
        color: white;
        font-size: 65px;
    }
    .header-img{
        padding-top: 100px;
    }

}


@media (min-width:1024px){

    .header-section{
        height: 980px;
    }
    .header-section{
        padding: 100px 0px 0px 80px;
        height: 680px;
    }
    .header-welcome{
        font-size: 25px;
    }
    .header-h1{
        font-size: 95px;
    }
}
